{
    "TBA_TOKEN": "Get your read API token here: https://www.thebluealliance.com/account",
    "USE_ISA_DATA": false,
    "ISA_TOKEN": "If you are a member of the Indiana Scouting Alliance, put your token here. Reach out to the discord if you don't know how to get it"
}